<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <div class="container ">
        <table class="table " style="margin: 0 auto;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created at</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                
                    <td>{{user.first_name}}</td>
                
                    <td>{{user.last_name}}</td>
                
                    <td>{{user.email}}</td>
                
                    <td>{{user.created_at}}</td>
                    <td>{{user.updated_at}}</td>

                    <td><a href="/review/{{user['id']}}" class="btn">Show</a></td>
                    <td><a href="/editform/{{user['id']}}" class="btn">Edit</a></td>
                    <td><a href="/delete/{{user['id']}}" class="btn">Delete</a></td>
                    
                </tr>
                    
                {% endfor %}
            </tbody>

        </table>
        <form action="/add">
            <button>add</button>
        </form>
    </div>


</body>
</html>