<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>

</head>
<body>
    <div>
        <form action="/show/edit_recipe" method="POST">
            <input type="hidden" name="id" value={{recipe.id}}>
            <label for="name">Name</label>
            <input type="text" name="name" value="{{recipe.name}}">

            <label for="description">Description</label>
            <input type="text" name="description" value="{{recipe.description}}">

            <label for="instruction">Instructions</label>
            <textarea name="instruction"  cols="30" rows="10" >{{recipe.instruction}}</textarea>
            
            <label for="under30"> Is it under 30 mins</label>
            <select name="under30" >
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <label for="datemade">Date Made</label>
            <input type="date" name="datemade" value="{{recipe.datemade.strftime('%Y-%m-%d')}}">

            <button type="submit">Submit</button>
            
        </form>
    </div>
</body>
</html>